* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}
 
div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:[left] 10rem auto 10rem[right];
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas:
    "head head head"
    "nav nav nav"
    "article panright"
    "foot foot foot"
}
header {
    background: rgb(8, 0, 116);
    grid-area: head;
}
nav {
    background-color: rgb(82, 93, 126);
    grid-area: nav;
}
footer {
    background: rgb(62, 97, 255);
    grid-area: foot;
}
.rightpanel {
    background: rgb(0, 0, 0, 0.1);
    grid-area: panright;
}
article {
    background: seagreen;
    grid-area: article;
}